---
const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/");
}

const bookres = await fetch(`${Astro.url.origin}/api/getBooks.json?id=${slug}`);
if (!bookres) {
  return Astro.redirect("/");
}
const [book] = await bookres.json();
---

<div>
  <h1>{book.title}</h1>
  <p>{book.author_name}</p>
</div>
